.container{
    display: flex;
    height: 25px;
    width:50px;
    align-items: center;
    border-radius:50px;
    justify-content: space-between;
    position: relative;
    /* background: #000; */
    transition: 0.5s;
    
}
.circle{
    display: flex;
    position: absolute;
   
    height: 20px;
    align-items: center;
    width: 20px;
    border-radius:50%;
    transition: 0.5s;
    cursor: pointer;
    
}